<div class="row">
    <div class="col-6">
        <guia-carteira-clientes></guia-carteira-clientes>
    </div>
    <div class="col-5">
        <guia-sinistralidade-acumulada></guia-sinistralidade-acumulada>
    </div>    
</div>
<div class="row" style="margin-top: 30px;">
    <div class="col-6">
        <guia-contraprestracao-efetiva></guia-contraprestracao-efetiva>
    </div>
    <div class="col-5">
        <div class="row" style="flex-wrap: inherit">
            <div class="col-6">
                <guia-consulta-cliente></guia-consulta-cliente>
            </div>
            <div class="col-6">
                <guia-liquidez-corrente></guia-liquidez-corrente>    
            </div>
        </div>        
    </div>
</div>