<div class="col-6">
    <div class="carteira-clientes-container">
        <div class="consulta-clientes-background">
            <div class="row">
                <div class="cooperativa-clientes-titulo col-12">
                    Consulta por Cliente
                </div>
            </div>
            <div class="row">
                <div class="col-12 ">
                    <div class="row carteira-clientes-titulo-box d-flex align-items-center laranja">
                        <h2 class="laranja" *ngIf="cooperativaDto != undefined && cooperativaDto.consultaCliente != undefined">{{cooperativaDto.consultaCliente.totalConsultas}}</h2>
                    </div>
                    <div class="row carteira-clientes-label-beneficiarios">
                        Consultas eletivas / ano
                    </div>                    
                </div>
                
            </div>        
    </div>
    <div class="row consulta-clientes-footer">
        <p style="padding: 5px;">{{cooperativaDto.consultaCliente.texto}}</p>
    </div>
</div>

