.indicador-content {
  width: 100% !important;
  padding: 0 1px;
  margin-left: 0;
  margin-top: -20px;
}

.indicador-footer {
  background-color: #0A5F55;
  color: white;
  font-size: 14px;
  text-align: justify;
  padding: 15px;

  p {
    margin: 0;
  }
}

.indicador-footer-height {
  background-color: #0A5F55;
  color: white;
  font-size: 14px;
  text-align: justify;
  padding: 15px;
  min-height: 135px;

  p {
    margin: 0;
  }
}

@media screen and (max-width: 1200px) {
  .indicador-footer-height {
    background-color: #0A5F55;
    color: white;
    font-size: 14px;
    text-align: justify;
    padding: 15px;
    min-height: 218px;
  
    p {
      margin: 0;
    }
  }
}
