<div class="row">
    <div class="col-6 remuneracao-container">
        <div class="remuneracao-background">
            <guia-minha-remuneracao></guia-minha-remuneracao>
        </div>
    </div>
    <div class="col-6 remuneracao-container">
        <div class="remuneracao-background">
            <guia-remuneracao-variavel></guia-remuneracao-variavel>
        </div>
    </div>
</div>
<div class="row table-container">
    <mat-tab-group style="width: 100%;"> <!--ajustar no css-->
        <mat-tab label="Produção Médica">
            <guia-tab-producao-medica></guia-tab-producao-medica>
        </mat-tab>
        <mat-tab label="Second"> Content 2 </mat-tab>
        <mat-tab label="Third"> Content 3 </mat-tab>
      </mat-tab-group>
</div>