<div class="container">
  <div class="row">
    <app-minha-remuneracao #appMinhaRemuneracao class="col-lg-6 mb-1"
                           [minhaRemurecao]="minhaRemuneracao"></app-minha-remuneracao>
    <app-minha-remuneracao-variavel class="col-lg-6"
                                    [minhaRemuneracaoDetalhe]="appMinhaRemuneracao.periodoSelecionado"></app-minha-remuneracao-variavel>
  </div>

  <div class="row table-container" *ngIf="producaoMedicaPacienteList != undefined">
    <mat-tab-group style="width: 100%;">
      <mat-tab label="Produção Médica">
        <app-producao-medica-table [producaoMedicaList]="producaoMedicaPacienteList"></app-producao-medica-table>
      </mat-tab>
      <mat-tab label="Outros Eventos">
<!--        <guia-tab-outros-eventos></guia-tab-outros-eventos>-->

      </mat-tab>
      <mat-tab label="Descontos">
<!--        <guia-tab-descontos></guia-tab-descontos>-->
      </mat-tab>
      <mat-tab label="Glosas">
<!--        <guia-tab-glosas></guia-tab-glosas>-->
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
