<mat-toolbar color="primary">

  <mat-toolbar-row>
    <div style="text-align: center; margin: 15px">
      <a href="https://www.unimedjp.com.br" title="Unimed João Pessoa">
        <img src="https://www.unimedjp.com.br/img/unimed_joao_pessoa.png" style="height: 55px" alt="Unimed João Pessoa"></a>
    </div>
    <div>
      <div style="font-size: 11px">Indicadores Assistencias Unimed</div>
      <div style="font-size: 16px; margin-top: -15px">Resultados da Cooperativa</div>
    </div>

  </mat-toolbar-row>
  <mat-toolbar-row color="accent" style="background-color: #0A5F55;">
    <nav active-menu>
      <ul class="nav nav-pills pull-right">
        <li><a class="nav-link color-link-nav" routerLink="cooperativa" routerLinkActive="active">Minha Cooperativa<span
          class="sr-only">(current)</span></a></li>
        <li><a class="nav-link color-link-nav" routerLink="resultados" routerLinkActive="active">Meus Resultados</a>
        </li>
        <li><a class="nav-link color-link-nav" routerLink="remuneracao" routerLinkActive="active">Remuneração</a></li>
      </ul>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>
