<mat-card class="minha-cooperativa-card">
    <mat-card-header>
      <mat-card-title>Contraprestação Efetiva</mat-card-title>
      <mat-card-title>
        <div class="col-12" style="padding-left: 0;">
            <div class="row carteira-clientes-titulo-box d-flex align-items-center laranja">
                {{cooperativaDto.contraprestacao.totalContraprestacao}}
            </div>
            <div class="row carteira-clientes-label-beneficiarios" style="font-size: initial;">
                Contraprestação Efetiva
            </div>                    
        </div>
        </mat-card-title>
    </mat-card-header>
    
    <mat-card-content class="mat-card-content-cooperativa">
        <div class="row carteira-clientes-row-chart"  *ngIf="cooperativaDto != undefined && cooperativaDto.contraprestacao != undefined">
            <div class="chart-wrapper">
                <canvas baseChart 
                    height="200"
                    width="800"
                    [datasets]="lineChartData" 
                    [labels]="lineChartLabels" 
                    [options]="lineChartOptions"
                    [colors]="lineChartColors" 
                    [legend]="lineChartLegend" 
                    [chartType]="lineChartType" 
                    [plugins]="lineChartPlugins">
                </canvas>
            </div>
        </div>
      
    </mat-card-content>
    <mat-card-footer class="carteira-clientes-footer" style="margin-left: inherit;
    margin-right: initial;
    width: 102%;">
        <p class="p-card-cooperativa">
            {{cooperativaDto.contraprestacao.texto}}
          </p>
    </mat-card-footer>
  </mat-card>


    
