<mat-table [dataSource]="data.movimentos" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="movimento">
        <mat-header-cell *matHeaderCellDef class="mat-column-paciente"> Movimento </mat-header-cell>
        <mat-cell *matCellDef="let movimento" class="mat-column-paciente"> {{movimento.movimento}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="posicao">
        <mat-header-cell *matHeaderCellDef> Posição </mat-header-cell>
        <mat-cell *matCellDef="let movimento"> {{movimento.posicao}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="valor">
        <mat-header-cell *matHeaderCellDef> Valor </mat-header-cell>
        <mat-cell *matCellDef="let movimento"> {{movimento.valor}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="modificador">
        <mat-header-cell *matHeaderCellDef> Modificador </mat-header-cell>
        <mat-cell *matCellDef="let movimento"> {{movimento.modificador}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="glosa">
        <mat-header-cell *matHeaderCellDef> Glosa </mat-header-cell>
        <mat-cell *matCellDef="let movimento"> {{movimento.glosa}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="total">
        <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
        <mat-cell *matCellDef="let movimento"> {{movimento.total}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
