<div class="col-12">
    <div class="row">
        <div class="col-12 remuneracao-titulo">
            Minha Remuneração Variável
        </div>    
    </div>

    <div class="row mb-2">
        <div class="col-5 remuneracao-valor-total d-flex align-items-center laranja">
            <h2>{{totalValue | currency: 'BRL': true}}</h2>
        </div>
        <div class="col-5 remuneracao-informacao d-flex align-items-center">
            <mat-label>ou {{percentual}} de 4% possíveis</mat-label>
        </div>
    </div>

    <div class="row">

        <div class="col-12 remuneracao-titulo">
            Minha Performance Variável
        </div>    

        <div class="col-12">
            <div class="row mb-3">

                <div class="col-2 remuneracao-valor-total d-flex align-items-center laranja">
                    <h2>{{percentualConquista}}</h2>
                </div>

                <div class="col-8 remuneracao-informacao d-flex align-items-center">
                    <mat-label>Você conquistou {{percentualConquista}} dos R$ 1490,76 que seriam possíveis</mat-label>
                </div>

            </div>
        </div>
    </div>

</div>


