<div class="row">
    <div class="col-12" style="color: green;">
        <h1 mat-dialog-title>{{data.paciente}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-5">

        <div class="row">
            <div class="col-6 remuneracao-label">
                <mat-label>Atendido em</mat-label>
            </div>
            <div class="col-6 remuneracao-label" style="justify-content: left;">
                <mat-label>Carteira do Plano</mat-label>
            </div>
        </div>

        <div class="row">
            <div class="col-6 remuneracao-label">
                <mat-label>{{data.dataAtendimento}}</mat-label>
            </div>        
            <div class="col-6 remuneracao-label" style="justify-content: left;">
                {{data.carteiraPlano}}
            </div>
        </div>
    </div>    
</div>
<div class="row">
    <div class="row table-container-modal-info-pacientes">
        <mat-tab-group style="width: 100%;"> <!--ajustar no css-->
            <mat-tab label="Movimentos">
                <guia-tab-movimentos [data]="producaoMedicaSelected"></guia-tab-movimentos>
            </mat-tab>
            <mat-tab label="Modificadores">
                <guia-tab-modificadores [data]="producaoMedicaSelected"></guia-tab-modificadores>
            </mat-tab>
            <mat-tab label="Glosas">
                <guia-tab-modal-glosas [data]="producaoMedicaSelected"></guia-tab-modal-glosas>
            </mat-tab>
          </mat-tab-group>
    </div>
</div>
<div class="row col-totais-modal">
    <div class="col-3">
        Total Apresentado
    </div>
    <div class="col-3">
        Total do Paciente
    </div>
</div>

<div class="row col-totais-modal">
    <div class="col-3">
        <h3>3.029,15</h3>
    </div>
    <div class="col-3">
        <h3>1.786,72</h3>
    </div>
</div>
