.remuneracao-label {
  font-size: 12px;
  display: flex;
  justify-content: flex-start;
}

.matTabLabel {
  font-weight: 600 !important;
  font-size: 12px !important;
}

.col-totais-modal {
  justify-content: flex-end;
  color: darkgray;
}

.close-div {
  text-align: right;
  margin-top: -20px
}
