
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$guia-medico-primary: mat-palette($mat-indigo);
$guia-medico-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$guia-medico-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$guia-medico-theme: mat-light-theme($guia-medico-primary, $guia-medico-accent, $guia-medico-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($guia-medico-theme);


// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$guia-medico-primary: mat-palette($mat-indigo);
$guia-medico-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$guia-medico-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$guia-medico-theme: mat-light-theme($guia-medico-primary, $guia-medico-accent, $guia-medico-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($guia-medico-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-column-paciente {
    flex: 0 0 28%;
    width: 28%;
}

.color-link-nav {
    color: white;
}

.nav-pills {
    .nav-link {
      border-radius: .25rem;
      font-size: initial;
    }

  .nav-link.active,
  .show > .nav-link {
    color: #fff;
    background-color: #00995d;
  }
}

.cooperativa-background {
  background-color: white;
  padding: 20px;
  min-height: 350px;
}

.consulta-clientes-background {
  background-color: white;
  padding: 20px;
  min-height: 376px;
  width: 100%;
  min-width: 330px;;
}

.carteira-clientes-footer {
  //background-color: seagreen;
  //padding-bottom: 10px;
  //position: relative;
  //width: 100%;

  p {
    //margin: 0;
  }
}

.consulta-clientes-footer{
  background-color: seagreen;
  height: 100px;
  position: relative;
  width: 100%;
  min-width: 330px;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0px;
  margin-left: 0px;
}






//.mat-card-content-cooperativa {
//  margin-left: 12px;
//  width: 100%;
//}
//
//.mat-card-footer-cooperativa {
//  margin-left: inherit;
//  margin-right: initial;
//  width: 102%;
//}

.p-card-cooperativa{
  margin-left: 12px;
}

//.row .mat-card-header-text{
//  width: 100%;
//  margin: 10px;
//}

//.row .mat-card-footer {
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  margin: 0;
//  position: absolute;
//  bottom: 0;
//  min-height: 12vh;
//}

//.row .mat-card {
//  margin: 0;
//  padding: 0;
//  position: relative;
//  min-height: 53vh;
//}

.col-sm-5.col-5-5 {
  flex: 0 0 49%;
  max-width: 49%;
  width: 49%;
}

//.row-mat-card-title-height{
//  height: 50%;
//}

.flex-layout-chart{
    margin: 0;
    padding: 0;
    position: relative;
}

//@media screen and (max-width: 1200px) {
//
//  .row .mat-card {
//    min-height: 34vh;
//    p {
//      font-size: 14px;
//    }
//  }
//
//  .row-mat-card-title-height{
//    height: 30%;
//  }
//}
//
//@media screen and (max-width: 768px) {
//  .row .mat-card {
//    min-height: 45vh;
//  }
//
//  .row .mat-card-footer {
//    min-height: 13vh;
//
//    p {
//      font-size: 12px;
//    }
//  }
//
//  .row-mat-card-title-height{
//    height: 30%;
//  }
//}
//
//@media screen and (max-width: 476px) {
//  .row .mat-card {
//    min-height: 50vh;
//  }
//
//  .row .mat-card-footer {
//    min-height: 15vh;
//    p {
//      font-size: 10px;
//    }
//  }
//
//  .mat-card-title {
//    font-size: 10px !important;
//  }
//
//  .carteira-clientes-titulo-box {
//    font-size: 12px !important;
//  }
//
//  .row-mat-card-title-height{
//    height: 30%;
//  }
//}

.mat-card-indicador {
  transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
  display: block;
  position: relative;
  padding: 16px;
  border-radius: 4px;
  min-height: 484px;
}

.mat-card {
  transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
  display: block;
  position: relative;
  padding: 16px;
  border-radius: 4px;
}

@media screen and (max-width: 1200px) {

  .mat-card-indicador {
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: block;
    position: relative;
    padding: 16px;
    border-radius: 4px;
    min-height: 226px;
  }
}





