<mat-table [dataSource]="data.glosas" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="movimento">
        <mat-header-cell *matHeaderCellDef class="mat-column-paciente"> Movimento </mat-header-cell>
        <mat-cell *matCellDef="let glosa" class="mat-column-paciente"> {{glosa.movimento}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="valor">
        <mat-header-cell *matHeaderCellDef> Valor Glosado </mat-header-cell>
        <mat-cell *matCellDef="let glosa"> {{glosa.valor}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="motivo">
        <mat-header-cell *matHeaderCellDef> Motivo </mat-header-cell>
        <mat-cell *matCellDef="let glosa"> {{glosa.motivo}}  <a mat-button (click)="openContestar(glosa)" class="modal-glosas-link-contestar"> Contestar</a>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
